
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

h1,h2,h3{
  font-size: 1.2rem;
}

p{
  font-size: 1rem;
}

.m-10{
  margin: 10px 5px;
}

.m-auto{
  margin: auto;
}

.p-10{
  padding: 10px 5px;
}

.p-auto{
  padding: auto;
}

.box-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}